@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.inactiveNav {
  @apply flex gap-1 mb-1 mt-1 pb-1 border-b;
}
.activeNav {
  @apply flex mt-2 gap-1 p-1 text-red-500 rounded-l-md border-b bg-blue-400;
}
.questionHighlight{
  @apply font-semibold text-red-400 text-start leading-6 font-mono;
}
.cardForText{
  @apply bg-gray-50 border rounded-md border-gray-700 mt-4 px-2;
}